.card-bg {
  margin: 3vh auto;
  background-color: cadetblue;
  height: 300px;
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.card-name {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 5px;
}

.card-age {
  text-align: center;
  font-size: 1.5rem;
}

.card-details {
  text-align: center;
}

.card-image {
  height: 200px;
}
